Repository shipwright-io/operator, pull requests merged in 2023-10, with the labels that each got.

#154 update OWNERS
  OWNERS
Labels: size/XS, lgtm, approved, release-note

#152 Bump shipwright build 0.12.0
  Makefile
  bundle/manifests/shipwright-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  config/subscription/subscription.yaml
  controllers/shipwrightbuild_controller.go
  controllers/shipwrightbuild_rbac.go
  docs/shipwrightbuild.md
  go.mod
  go.sum
  kodata/certificates.yaml
  kodata/release.yaml
  pkg/certmanager/cert_manager.go
  pkg/common/const.go
  pkg/common/util.go
  vendor/github.com/asaskevich/govalidator/.gitignore
  vendor/github.com/asaskevich/govalidator/.travis.yml
  vendor/github.com/asaskevich/govalidator/CODE_OF_CONDUCT.md
  vendor/github.com/asaskevich/govalidator/CONTRIBUTING.md
  vendor/github.com/asaskevich/govalidator/LICENSE
  vendor/github.com/asaskevich/govalidator/README.md
  vendor/github.com/asaskevich/govalidator/arrays.go
  vendor/github.com/asaskevich/govalidator/converter.go
  vendor/github.com/asaskevich/govalidator/doc.go
  vendor/github.com/asaskevich/govalidator/error.go
  vendor/github.com/asaskevich/govalidator/numerics.go
  vendor/github.com/asaskevich/govalidator/patterns.go
  vendor/github.com/asaskevich/govalidator/types.go
  vendor/github.com/asaskevich/govalidator/utils.go
  vendor/github.com/asaskevich/govalidator/validator.go
  vendor/github.com/asaskevich/govalidator/wercker.yml
  vendor/modules.txt
Labels: size/XL, lgtm, approved, release-note

#161 Update go to 1.20 and ko to v0.15.0
  .github/workflows/ci.yml
  Makefile
  docs/development/local-development.md
  docs/development/olm-development.md
  go.mod
  hack/install-ko.sh
Labels: size/S, kind/dependency-change, lgtm, approved, release-note-none

#165 Update to go 1.20 for release
  .github/workflows/release.yaml
Labels: size/XS, lgtm, kind/cleanup, approved, release-note-none
