Repository shipwright-io/operator, pull requests merged in 2024-06, with the labels that each got.

#215 Parse Build Strategies with Manifestival
  test/common.go
Labels: size/M, lgtm, kind/cleanup, approved, release-note-none

#214 Deleting "shipwright-build-webhook" clusterrole and clusterrolebinding
  controllers/buildstrategies_test.go
  controllers/shipwrightbuild_controller.go
  controllers/shipwrightbuild_controller_test.go
  controllers/suite_test.go
  kodata/release.yaml
  kodata/samples/buildstrategy/buildah/buildstrategy_buildah_shipwright_managed_push_cr.yaml
  kodata/samples/buildstrategy/buildah/buildstrategy_buildah_strategy_managed_push_cr.yaml
  kodata/samples/buildstrategy/buildkit/buildstrategy_buildkit_cr.yaml
  kodata/samples/buildstrategy/buildpacks-v3/buildstrategy_buildpacks-v3-heroku_cr.yaml
  kodata/samples/buildstrategy/buildpacks-v3/buildstrategy_buildpacks-v3_cr.yaml
  kodata/samples/buildstrategy/kaniko/buildstrategy_kaniko-trivy_cr.yaml
  kodata/samples/buildstrategy/kaniko/buildstrategy_kaniko_cr.yaml
  kodata/samples/buildstrategy/ko/buildstrategy_ko_cr.yaml
  kodata/samples/buildstrategy/sample-strategies.yaml
  kodata/samples/buildstrategy/source-to-image/buildstrategy_source-to-image_cr.yaml
  pkg/buildstrategy/buildstrategy_test.go
  vendor/github.com/shipwright-io/build/pkg/apis/build/v1beta1/build_conversion.go
  vendor/github.com/shipwright-io/build/pkg/apis/build/v1beta1/build_types.go
  vendor/github.com/shipwright-io/build/pkg/apis/build/v1beta1/buildrun_conversion.go
  vendor/github.com/shipwright-io/build/pkg/apis/build/v1beta1/buildrun_types.go
  vendor/github.com/shipwright-io/build/pkg/apis/build/v1beta1/buildstrategy.go
  vendor/github.com/shipwright-io/build/pkg/apis/build/v1beta1/buildstrategy_conversion.go
  vendor/github.com/shipwright-io/build/pkg/apis/build/v1beta1/buildstrategy_types.go
  vendor/github.com/shipwright-io/build/pkg/apis/build/v1beta1/clusterbuildstrategy_conversion.go
  vendor/github.com/shipwright-io/build/pkg/apis/build/v1beta1/clusterbuildstrategy_types.go
  vendor/github.com/shipwright-io/build/pkg/apis/build/v1beta1/doc.go
  vendor/github.com/shipwright-io/build/pkg/apis/build/v1beta1/parameter.go
  vendor/github.com/shipwright-io/build/pkg/apis/build/v1beta1/register.go
  vendor/github.com/shipwright-io/build/pkg/apis/build/v1beta1/source.go
  vendor/github.com/shipwright-io/build/pkg/apis/build/v1beta1/trigger.go
  vendor/github.com/shipwright-io/build/pkg/apis/build/v1beta1/trigger_types.go
  vendor/github.com/shipwright-io/build/pkg/apis/build/v1beta1/trigger_when.go
  vendor/github.com/shipwright-io/build/pkg/apis/build/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/shipwright-io/build/pkg/ctxlog/context.go
  vendor/github.com/shipwright-io/build/pkg/ctxlog/log.go
  vendor/github.com/shipwright-io/build/pkg/webhook/interface.go
  vendor/modules.txt
Labels: size/XXL, lgtm, approved, release-note

#218 Bump GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/release.yaml
Labels: size/XS, lgtm, kind/cleanup, approved, release-note-none

#220 fix: Add --yes to cosign
  .github/workflows/release.yaml
Labels: kind/bug, size/XS, lgtm, kind/cleanup, approved, release-note-none

#222 Bump Version to v0.14.0
  Makefile
  bundle/manifests/shipwright-operator.clusterserviceversion.yaml
Labels: kind/feature, size/XS, lgtm, approved, release-note

#221 [release-v0.13] Update Version to 0.13.0
  Makefile
  bundle/manifests/shipwright-operator.clusterserviceversion.yaml
Labels: kind/feature, size/XS, lgtm, approved, release-note
