Repository shipwright-io/operator, pull requests merged in 2024-03, with the labels that each got.

#190 Updated go modules to 1.21
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  DEVELOPMENT.md
  Makefile
  docs/development/local-development.md
  docs/development/olm-development.md
  go.mod
  go.sum
  hack/install-ko.sh
Labels: size/M, lgtm, approved, release-note

#194 [release-v0.12] SHIP-0038: Run CI on Release Branches
  .github/workflows/ci.yml
Labels: size/XS, lgtm, approved, release-note-none

#193 SHIP-0038: Run CI on Release Branches
  .github/workflows/ci.yml
Labels: size/XS, lgtm, kind/cleanup, approved, release-note-none

#198 SHIP-0038: Release Branch Workflow
  .github/workflows/release-branch.yml
Labels: size/S, lgtm, kind/cleanup, approved, release-note-none

#199 SHIP-0038: Add Git Ref to Release Workflow
  .github/workflows/release.yaml
Labels: size/S, lgtm, kind/cleanup, approved, release-note-none
